@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    background: #FFFFFF;

}

.main-container {
    flex-grow: 1;
}

.page-header {
    color: #000000;
    padding-top: 20px;
}

.content-wrapper {
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.page-logo {
    padding-left: 46px;
    padding-right: 46px;
    background-image: linear-gradient(180deg,#fff 20px,#f7e296 20px);
}

.navigation-logo-image {
    display: flex;
    width: 145px;

}

/* Навигация первая */
.header-search {
    display: flex;
    flex-direction: row;
    background: #FFE17F;
    height: 40px;
    /*margin: 0 auto;*/
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    padding-left: 46px;
    padding: 30px;
    align-items: center;


}

/* Поле формы */
.header-search-form {
    display: flex;

}

/* Поле ввода */
.header-search-site {
    box-sizing: border-box;
    align-items: center;
    padding: 0px 0px 0px 16px;

    border: 2px solid #000000;
    width: 359px;
    font-size: 16px;
    border-radius: 50px 0px 0px 50px;
    background-color: transparent;
    height: 40px;
}

.header-search-site:focus {
    outline: 2px solid #AF4FFF;
}



.header-navigation-user {

}

/* Кнопка найти */
.header-search-button {

    box-sizing: border-box;
    border-radius: 0px 50px 50px 00px;
    border: 2px solid #000000;
    background-color: transparent;
    font-size: 16px;
    /*line-height: 20px;*/
    width: 160px;
    height: 40px;

}

.header-navigation-user {
    display: flex;

}

.navigation-user-xlist {
    width: 231px;
    padding-left: 26px;
}

/* Блок навигации Войти-Сравнить-Корзина */
.header-navigation-user a {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2em;
    align-items: center;
    text-decoration: none;
    color: #000000;
    list-style-type: none;
}

/* Каталог товаров - Доставка - Гарантия - Контакты */

.navigation-wrapper {
    padding: 20px;
}

.navigation-list {
    display: flex;
    width: 1040px;
    justify-content: space-around;
    margin: 0;
    padding-left: 0;

}

.navigation-item-user-catalog {
    width: 293px;
}



/* Доставка */
.navigation-item-delivery-user {
    width: 127px;
    margin-left: 200px;
}

/* Гарантия */
.navigation-item-garant {
    width: 127px;
}


.navigation-list a {
    font-family: 'Raleway'sans-serif;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;
    color: #000000;
}

/*Уберём visually-hidden*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }



.main-navigation .main-navigation-list a {
    color: #000000;
    text-decoration: none;

}

.navigation-item {
    list-style-type: none;


}

.navigation-user {
    display: flex;
    margin: 0;

}

.user-menu-list {
    margin: 0;
    padding: 0;

}

/* Вторая навигация */

.navigation-item-basket {
    margin-left: 20px;
}



.navigation-wrapper {
    display: flex;
    background: #FFE17F;
}


/* Отсюда слайдер*/

.content-wrapper-slide {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1160px;
    padding-left: 5px;
    padding-right: 5px;
}

.slider-pagination {
    padding-left: 0;
}


/* li слайдер*/
.slider-pagination-item {
    display: flex;
}

.data-information {
    display: flex;
}

.important-information {
    display: flex;
    flex-direction: column;
    margin-left: 0;
}

.important-information-add {
    display: flex;
    flex-direction: column;
}

.data-text-information {
    margin: 0;
    width: 307px;
    height: 72px;
}


/* img слайдер*/
.slider-image-copter {
    width: 560px;
    height: 560px;
}

.slider-image {
    margin: 0 auto;
}

/* div с текстом справа слайдер*/
.slide-text-information {
    padding-left: 40px;
    padding-right: 15px;
    padding-top: 10px;

}

.selling-text {
    margin-bottom: 29px;
}

.selling-text-small {
    margin-bottom: 60px;
}

/* кнопка подробнее в слайдере*/
.navigation-link-slide {
    display: inline-block;
    z-index: 0;
    /*min-height: 20px;*/
    padding: 11px 20px;
    font-family: "Raleway";
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    min-width: 180px;
    position: relative;
}


.data-information {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 350px;
}

.important-information {
    align-items: flex-start;
}

.slider-image {
    display: block;
}

.main-page-slider {
    margin-bottom: 20px;
}






.selling-text {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.selling-text-small {
    font-family: "Rubik";
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.important-information {
    font-family: "Rubik";
    font-weight: 400;
    font-size: 36px;
    line-height: 30px;
    color: #000000;
}

.important-information-add {
    font-family: "Rubik";
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #444444;
}

.navigation-link {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2em;
    font-style: normal;
    color: #000000;
    text-decoration: none;
}

.navigation-link-bottom {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    font-style: normal;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.navigation-link-bottom:hover {
    opacity: 0.6;
}

.navigation-link-bottom:focus {
    /*border: 2px solid #AF4FFF;*/
    outline: 2px solid #AF4FFF;
}

.navigation-link-bottom:active {
    opacity: 0.3;
}

.catalog-navigation-link-bottom {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    font-style: normal;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.catalog-navigation-link-bottom:hover {
    opacity: 0.6;
}

.catalog-navigation-link-bottom:focus {
    /*border: 2px solid #AF4FFF;*/
    outline: 2px solid #AF4FFF;
}

.catalog-navigation-link-bottom:active {
    opacity: 0.3;
}

.catalog-add-navigation-link {
    font-family: "Raleway";
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.catalog-add-navigation-link:focus {
    /*border: 2px solid #AF4FFF;*/
    outline: 2px solid #AF4FFF;
}





.categories {
    margin-bottom: 50px;
}



.delivery-button {
    /*background-color: #000000;*/
    color: #FFE17F;
    font-family: "Raleway";
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-top: 30px;
}

/*.security-button,.credit-button*/ .service-button {
    color: #000000;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    max-width: 160px;
    padding: 10px 3px;
    border: none;
    cursor: pointer;
    z-index: 0;
}

.delivery-text-main {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    margin-bottom: 34px;
}

.delivery-text {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}


.delivery-new {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

.delivery-new-text-link {
    font-family: "Raleway";
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}



.icon-information {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    width: 40px;
    height: 40px;
    /*background-image: url(../images/icon-information.svg);*/

    background-size: 2px 12px;
    background-color: #afafaf;
    opacity: 0.3;

    /*color: #DCDCDC 50 %;*/
    /*background-color: rgba(220, 220, 220, 0.5);*/
}

.icon-information-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 100%;

}

.title-info,.contacts-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.text-info,.reclame-info,.contacts-text,.device-adress,.working-time {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.button-info {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    position: relative;
    min-width: 257px;
    display: inline-block;
    padding: 10px 6px;
    }


.working-hours,.e-commerce-device {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
}

.company-list-item {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
}

.mailing-list {
    font-family: "Raleway";
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.mailing-list-text,.free-item {
    font-family: "Rubik";
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.free-item {
    font-family: "Rubik";
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    width: 160px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: -1;

}

.free-item::before {
    position: absolute;
    content: "";
    background-image: url(../images/galochka.svg);
    background-size: 14px 14px;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    z-index: 10;
    left: 1%;
    top: 25%;

}


.button {
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
}



.categories a {
    font-family: "Raleway";
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-decoration: none;
    color: #000000;
}

/*Линейка категории товаров*/

.categories-tech-wrapper {



}



.categories-tech {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0 auto;
    width: 1160px;
    padding-left: 5px;
    padding-right: 5px;

}

.categories-tech-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFE17F;
    margin-bottom: 32px;
    width: 160px;
    height: 160px;

}

.menu-categories-link:hover .categories-tech-image-wrapper {
    background-color: #FFC700;
}

.menu-categories-link:focus {
    /*border: 2px solid #AF4FFF;*/
    outline: 2px solid #AF4FFF;
}

.menu-categories-popular:active {
    opacity: 0.3;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}



.menu-categories-popular {
    width: 160px;
    height: 253px;
}


.menu-categories-link {
    display: block;
    width: 160px;
    height: 253px;
}


/*Delivery section*/

.delivery-main {
    margin-bottom: 90px;
}

.delivery-main-wrapper {
    display: flex;
    justify-content: ;
    align-items: center;
    width: 1160px;
    height: 319px;
    box-sizing: border-box;
    margin: 0 auto;
    box-sizing: border-box;
    /*padding: 0 20px;*/
}

.delivery-main-button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 280px;
    height: 319px;
    border-right: 7px solid #000000
}

.delivery-list {
    list-style-type: none;
    max-width: 880px;
    height: 319px;
    margin: 0;
    padding-left: 76px;
}

.delivery-button-list {
    width: 694px;
    padding-left: 40px;
    position: relative;

}

.delivery-button-list-postman::after {
    background-image: url(../images/postman.svg);
    background-size: 136px 164px;
    content: "";
    position: absolute;
    /*transform-origin: 50% 50%;*/
    top: 4%;
    left: 80%;
    width: 180px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: ;
}



.delivery-text {
    display: block;
}

.image-postman-block {
    align-items: center;
    padding-top: 30px;
    padding-right: 30px;
}



/* Секция доставка редкого товара*/
.delivery-new-wrapper-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1160px;
    height: 100px;
    margin: 0 auto;
    /*padding-top: 30px;*/
}

.postman-car-block {
    display: flex;
    justify-content: center;
    width: 125px;
    height: 100px;
    align-items: center;
    background-color: #FFE17F;
}

.link-wrapper {
    display: flex;

    text-decoration: none;
    width: 1160px;
    margin: 0 auto;
}

.link-wrapper:hover .postman-car-block {
    background-color: #FFC700;
}

.link-wrapper:focus {
    /*border: 2px solid #AF4FFF;*/
    outline: 2px solid #AF4FFF;
}

.link-wrapper:active {
    background: #F0F0F0;
    opacity: 0.3;
}


.delivery-new-text {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-decoration: none;
    list-style-type: none;
    color: #000000;
    text-transform: uppercase;
}



/*Секция о нас и контакты*/

.main-info-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 70px;

}

.main-info-block {
    width: 520px;
    height: 545px;

}

.contacts {
    width: 532px;
    height: 545px;
}

.company-delivery-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 182px;
    height: 98px;
    padding-left: 7px;
    margin-bottom: 30px;
    margin-top: 30px;

}

.working-time,.working-hours,.device-adress,.e-commerce-device,.reclame-info {
    margin-bottom: 30px;
    margin-top: 30px;
}

/* Секция подпишитесь на рассылку*/

.page-mailing-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1140px;
    height: 421px;
    margin: 0 auto;
}

.page-mailing-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 70px;
    margin-bottom: 20px;

}

.mailing-list {
    width: 348px;
    height: 100px;

}

.mailing-list-text {
    width: 560px;
    height: 90px;
    padding-left: 252px;
}

.newsletter-form-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1158px;
    height: 57px;

}

.newsletter-form {
    display: flex;
}

.newsletter-button {
    width: 253px;
    height: 57px;
    border: 3px solid #C4C4C4;
    padding-left: 0;
    cursor: pointer;
}

.field {
    border: none;
    border-bottom: 3px solid #C4C4C4;
    width: 557px;
    height: 52px;
    font-family: Rubik, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #444444;
}


/* Футер */

/* Верхний блок */
.page-footer {
    padding-top: 62px;
    padding-bottom: 61px;
}

.footer-wrapper {
    width: 1440px;
    margin: 0 auto;

}

.logo-block {
    display: flex;
    justify-content: flex-start;
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 35px;
}

/* Средний блок */

.footer-middle-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 62px;
}

.footer-contacts-adress {
    font-family: Rubik, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    color: #FFFFFF;
}

.footer-list {
    display: flex;
    justify-content: space-around;
    width: 444px;
}

/* Нижний блок */


.footer-footer-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.footer-line {
    width: 80px;
    height: 7px;
}

.footer-social-media-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    padding-left: 0;
    box-sizing: border-box;
    margin-left: 140px;
}

.footer-social-media-link {

    width: 40px;
    height: 40px;
}




.page-footer {
    background-color: #444444;
}

.footer-social-media-list {
    display: flex;
    list-style-type: none;
}

.footer-list {
    font-family: "Raleway";
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-list-link {
    text-decoration: none;
    list-style-type: none;
    color: #FFFFFF;
    display: flex;

}

.footer-contacts-address-phone {
    font-family: "Rubik";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    font-style: normal;
}

.footer-phone-link {
    font-family: 'Rubik';
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.footer-list {
    list-style-type: none;
}

.footer-social-media-list {
    list-style-type: none;
}


.navigation-link-out {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    opacity: 0.3;
}

   /*Каталог. Название раздела на странице*/

.page-main-title-block {
    margin-right: 0;
    margin: 0 auto;
    max-width: 1079px;
    max-height: 86px;
    padding-left: 40px;
    padding-right: 45px;
    padding-bottom: 30px;
    padding-top: 5px;
    margin-bottom: 10px;
}

.page-main-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    width: 541px;
    margin: 0;
    padding-left: 5px;
    padding-top: 35px;
    margin-bottom: 16px;

}

        /*Каталог. Хлебные крошки*/

.title-monopods-wrapper {
    margin: 0 auto;
    width: 1160px;
    min-height: 155px;
    padding-left: 10px;
    padding-right: 10px;
}

.main-title-list-block {
    margin: 0 auto;
    width: 1160px;
    padding-left: 10px;
    padding-right: 10px;
}


.main-title-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    max-width: 429px;
    padding: 0;
    padding-left: 5px;
}

.main-title-item {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    list-style-type: none;
    text-decoration: none;

    position: relative;

}

.main-title-item:not(:last-child)::after {
    position: absolute;
    content: "";
    transform: rotate(-45deg);
    top: 45%;
    right: -25%;
    width: 3px;
    height: 3px;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;

}

.main-title-link:hover {
    opacity: 0.6;
}

.main-title-link:focus {
    /*border: 2px solid #AF4FFF;*/
    outline: 2px solid #AF4FFF;
}

.main-title-link:active {
    opacity: 0.3;
}


.main-title-item,.main-title-link {
    text-decoration: none;
    color: #000000;
}


.control {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.select-control {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    border: none;
    width: 141px;
}

.select-control:hover {
    opacity: 0.6;
}

.select-control:focus {
    /*border: 2px solid #AF4FFF;*/
    outline: 2px solid #AF4FFF;
}

.select-control::active {
    opacity: 0.3;
}


.product-card-title-link {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
    text-decoration: none
}

.product-card-price {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #444444;
    text-align: right;

}


.load-more-button {
    text-decoration: none;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.pagination-button,.pagination-btn {
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    color: #000000;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
}

.pagination-button {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 141px;
    height: 71;
    padding: 5px 10px;

}


.pagination-btn {
    color: #444444;
    opacity: 0.3;
}

.pagination-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    color: #444444;
    opacity: 0.6;
    text-decoration: none;
}

               /* Catalog Main   */

.catalog-centring-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 1160px;
}

.catalog-filter-block {
    width: 320px;

}




.catalog-filter-title-block {
    width: 273px;
    height: 69px;
    margin: 0;
}
                        /* Левый блок. Фильтр. Цена */
.form-catalog-price {
    width: 200px;
    padding: 30px 30px 30px 50px;
    margin: 0;
}

.catalog-filter-color-block {
    width: 200px;
    height: 220px;
    margin: 0;
}

.catalog-filter-bluetooth-block {
    width: 200px;
    height: 112px;
    margin: 0;
}

.catalog-filter-button-block {
    width: 220px;
    height: 40px;
    margin: 0;
    margin-top: 40px;
}


       /* Catalog Правый блок   */
.catalog-product-block {
    display: grid;
    grid-template-rows: min-content 1fr min-content min-content;
    width: 840px;

}


.product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 44px;
    column-gap: 40px;
    /*display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;*/
    padding: 0;
    margin: 0;
    padding-bottom: 44px;
    list-style-type: none;
    padding-left: 40px;
    padding-right: 35px;
}

.product-card {
    display: grid;
    grid-template-rows: 380px min-content;
    row-gap: 70px;
    width: 360px;
    /*height: 452px;*/
}

.product-card-image {
    width: 360px;
    height: 380px;
}


.catalog-product-header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 840px;
    height: 70px;

}

.sort-direction {
    display: flex;
    justify-content: space-evenly;
    width: 60px;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

.sort-direction-link {
    display: block;
    width: 0;
    height: 0;
    border-left: 5.5px solid transparent;
    border-right: 5.5px solid transparent;
    border-bottom: 10px solid rgba(0,0,0,.2);


}

.sort-direction-rotate-link {
    transform: rotate(180deg);
    border-bottom-color: #000;
}

.sort-direction-link:hover {
    border-bottom-color: #000;
    opacity: 0.5;
}

.sort-direction-link:focus {
    border: 2px solid #AF4FFF;
    outline: none;
}

.sort-direction-link:active {
    border-bottom-color: #000;
}


.catalog-load-more-block {
    display: flex;
    justify-content: center;
    width: 760px;
    height: 55px;
    margin: 0 auto;
}

.catalog-pagination-block {
    display: grid;
    grid-template-columns: 128px 1fr 141px;
    /*display: flex;
    justify-content: space-between;
    align-items: center;*/
    width: 760px;
    height: 71px;
    margin: 0 auto;
    padding-top: 44px;
    padding-bottom: 78px;
}

.pagination-list {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    /*height: 40px;*/
    list-style-type: none;
    font-size: 16px;
    padding-left: 0;
    margin: 0;
}

.pagination-item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 100%;

}


.load-more-button {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 3px solid #E5E5E5;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    width: 760px;
    height: 55px;
    margin: 0 auto;
}

            /* Карточки продукта */

.product-card-title-block {
    display: flex;
    justify-content: space-between;
    align-items: start;

}

.product-card-image-link {
    display: block;
}

.product-card-title-item-link {
    display: block;
    text-decoration: none;

}

/*Это был список название - цена товара
.product-card-title-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    padding-top: 30px;
}
*/

.product-card-title-item {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    /*padding-top: 30px;*/
}

.product-card-link {
    text-decoration: none;
    display: block;
    width: 360px;
    height: 452px;
}

.product-card-image-wrapper {
    width: 360px;
    height: 380px;
}

.product-card-title-price {

    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #444444;
    /*padding-top: 10px;*/
}

          /* Левый блок фильтр */
.catalog-filter-title {
    padding-top: 10px;
    padding-left: 50px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
}

.select-control-title {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    padding-left: 40px;
}

.catalog-special-title {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
    padding-left: 50px;
}

.catalog-filter-title {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
}

.catalog-filter-title-user {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding-left: 50px;
    padding-top: 10px;
}

.catalog-filter-color-title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
    padding-left: 50px;
}

.contril-input {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.catalog-filter-button-block {
    display: flex;
    justify-content: center;
    text-align: center;
}

.catalog-filter-list {
    padding-left: 0;
    text-decoration: none;
    list-style-type: none;
}

.catalog-special-list {
    padding-left: 0;
    text-decoration: none;
    list-style-type: none;
}

/* Header catalog*/

.catalog-navigation-user {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    width: 230 px;
    padding: 0;
    margin: 0;

}

.catalog-header-navigation-user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog-navigation-link {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    opacity: 0.3;
    text-decoration: none;
    list-style-type: none;
    padding-left: 20px;
}

.navigation-link-user {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    text-decoration: none;
    list-style-type: none;
}

.navigation-link-user:focus {
    outline: 2px solid #AF4FFF;
}

.catalog-navigation-item {
    text-decoration: none;
    list-style-type: none;
}

.catalog-header-search {
    display: flex;
    justify-content: space-around;
    background-color: #FFE17F;
    padding: 30px;

}

.catalog-navigation-users {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
}

.catalog-navigation-users-link {
    text-decoration: none;
    list-style-type: none;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}

.catalog-basket-navigation-link {
    text-decoration: none;
    list-style-type: none;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}

.catalog-navigation-item-users {
    padding-left: 36px;
}

/* Форма. Левый блок   */

.catalog-special-difference {
    padding-left: 0;
    padding-right: 0;
    border: 0 none;
}

.catalog-filter-group {
    border: 0 none;
    padding-left: 0;
    padding-right: 0;

}

.field-catalog-fieldset {
    position: relative;
    border: 0 none;
    /*border-top: 2px solid #000000;*/
    border-bottom: 2px solid #000000;
    width: 200px;
    min-height: 95px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
}

.field-catalog-fieldset::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 200px;
    left: 0;
    right: 0;
    top: -45px;

    background-color: #000000;

}

.catalog-filter-color-title {

}

.catalog-filter-color-title {
    padding: 0;
}

.catalog-special-title {
    padding: 0;
}

.filter-button {
    display: inline-block;
    padding: 11px 40px;
    min-width: 180px;
    /*min-height: 20px;*/
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.filter-button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #FFE17F;
    z-index: -1;
    height: 8px;
    width: 100%;
}

.filter-button:hover {
    background: #FFE17F;
}

.filter-button:focus {
    /*border: 2px solid #AF4FFF;*/
    outline: 2px solid #AF4FFF;
}

.filter-button:active {
    background: #FFCC33;
}

.filter-button:disabled {
    opacity: 0.3;
}



.footer-logo:hover {
    opacity: 0.6;
}

.footer-logo:focus {
    /*border: 2px solid #AF4FFF;*/
    outline: 2px solid #AF4FFF;
}

.footer-logo:active {
    opacity: 0.3;
}

.navigation-logo-image:hover {
    opacity: 0.6;
}

.navigation-logo-image:focus {
    /*border: 2px solid #AF4FFF;*/
    outline: 2px solid #AF4FFF;
}

.navigation-logo-image:active {
    opacity: 0.3;
}

.load-more-button:hover {
    border: 3px solid #000000;
}

.load-more-button:focus {
    /*border: 2px solid #AF4FFF;*/
    outline: 2px solid #AF4FFF;;
}

.load-more-button:active {
    opacity: 0.3;
    border: 3px solid #000000;
}

.load-more-button:disabled {
    opacity: 0.3;
    border: 3px solid #E5E5E5;
    color: #000000;
}

.newsletter-button:hover {
    background: #000000;
    border: 3px solid #000000;
    color: #FFFFFF;
}

.newsletter-button:focus {
    border: 2px solid #AF4FFF;
    outline: none;
}

.newsletter-button:active {
    background: #000000;
    border: 3px solid #000000;
    color: #FFFFFF;
    opacity: 0.3;
}

.newsletter-button:disabled {
    opacity: 0.3;
    border: 3px solid #C4C4C4;
    color: #000000;
}

.navigation-link:hover {
    opacity: 0.6;
}

.navigation-link:focus {
    /*border: 3px solid #C4C4C4;*/
    outline: 3px solid #C4C4C4;
}

.navigation-link:active {
    opacity: 0.3;
}

.navigation-link-add-catalog {
    font-family: "Raleway";
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.navigation-link-add-catalog:focus {
    /*border: 3px solid #C4C4C4;*/
    outline: 2px solid #AF4FFF;
}

.header-search-button:hover {
    background: #000000;
    border: 3px solid #000000;
    color: #FFFFFF;
}

.header-search-button:focus {
    border: 3px solid #C4C4C4;
    outline: none;
}

.header-search-button:active {
    background: #000000;
    border: 3px solid #000000;
    color: #FFFFFF;
    opacity: 0.3;
}

.header-search-button:disabled {
    opacity: 0.3;
    border: 3px solid #C4C4C4;
    color: #000000;
}

.pagination-button:hover {
    background: #DCDCDC;
}

.pagination-button:focus {
    border: 2px solid #AF4FFF;
    background: #F0F0F0;
    outline: none;
}

.pagination-button:active {
    background: #DCDCDC;
    color: #000000;
    opacity: 0.3;
}

.pagination-btn:hover {
    background: #DCDCDC;
}

.pagination-btn:focus {
    border: 2px solid #AF4FFF;
    background: #F0F0F0;
    outline: none;
}

.navigation-link-slide::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #FFE17F;
    z-index: -1;
    height: 8px;
    width: 100%;
    /*transition: height 3s ease-in-out;*/
}

.navigation-link-slide:hover {
    background: #FFE17F;
}

.navigation-link-slide:focus {
    /*border: 2px solid #AF4FFF;*/
    outline: 2px solid #AF4FFF;
}

.navigation-link-slide:active {
    background: #FFCC33;
}

.navigation-link-slide:disabled {
    opacity: 0.3;
}



.button-info::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #FFE17F;
    z-index: -1;
    height: 8px;
    width: 100%;
    transition: height 3s ease-in-out;
}

.button-info:hover {
    background: #FFE17F;
}

.button-info:focus {
    /*border: 2px solid #AF4FFF;*/
    outline: 2px solid #AF4FFF;
}

.button-info:active {
    background: #FFCC33;
}

.button-info:disabled {
    opacity: 0.3;
}

.service-button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #FFE17F;
    z-index: -1;
    height: 8px;
    width: 100%;
    transition: height 3s ease-in-out;
}

.service-button:hover {
    background: #FFE17F;
}

/*.service-button:focus {

    outline: 2px solid #AF4FFF;*/
}

.service-button:active {
    background: #FFCC33;
}

.service-button:disabled {
    opacity: 0.3;
}

.contact-phone-link {
    color: #444444;
}

.footer-list-link:hover {
    color: #FFC700;
    text-decoration: underline;
}

.footer-list-link:focus {
    /*border: 2px solid #AF4FFF;*/
    outline: 2px solid #AF4FFF;
}

.footer-list-link:active {
    opacity: 0.3;
    text-decoration: underline;
}

.footer-phone-link:hover {
    color: #FFC700;
    text-decoration: underline;
}

.footer-phone-link:focus {
    /*border: 2px solid #AF4FFF;*/
    outline: 2px solid #AF4FFF;
}

.footer-phone-link:active {
    opacity: 0.3;
    text-decoration: underline;
}

.logo-html-academy {
    fill: #FFC700;
    stroke: inherit;
    stroke-width: inherit;
}


.footer-copyright-link:hover .logo-html-academy{
    fill: #FFFFFF;
}

.footer-copyright-link:focus {
    /*border: 1px solid #AF4FFF;*/
    outline: 1px solid #AF4FFF;;
}

.footer-copyright-link:active .logo-html-academy {
    fill: #FFFFFF;
    opacity: 0.3;
}


.social-media-link {
    display: flex;
}

.telegram-image-logo {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
}


.twitter-image-logo {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);

    /*fill: #FFF;
    stroke: inherit;
    stroke-width: inherit;*/
}


.social-media-link:hover .twitter-image-logo {
    background-color: #FFC700;
}

.youtube-image-logo {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);

}

.social-media-link:hover .youtube-image-logo {
    background-color: #FFC700;
}

.social-media-link:hover .telegram-image-logo {
    background-color: #FFC700;
}

.social-media-link:focus {
    /*border: 2px solid #AF4FFF;*/
    outline: 2px solid #AF4FFF;
}

.social-media-link:active {
    opacity: 0.3;
}

.pagination-link:hover {
    opacity: 1;
}

.pagination-link:focus {
    border: 2px solid #AF4FFF;
    outline: none;
}

.pagination-link:active {
    opacity: 0.1;
}

.catalog-link:hover {
    opacity: 0.6;
}

.catalog-link:focus {
    /*border: 2px solid #AF4FFF;*/
    outline: 2px solid #AF4FFF;
}

.catalog-link:active {
    opacity: 0.3;
}

.product-card-image-link:hover {
    opacity: 0.6;
}

.product-card-image-link:focus {
    /*border: 2px solid #AF4FFF;*/
    outline: 2px solid #AF4FFF;
}

.product-card-image-link:active {
    opacity: 0.3;
}




.product-card-title-item-link:hover {
    opacity: 0.6;
}

.product-card-title-item-link:focus {
    /*border: 2px solid #AF4FFF;*/
    outline: 2px solid #AF4FFF;
}

.product-card-title-item-link:active {
    opacity: 0.3;
}



.range-all-block {
    width: 200px;
}

.range-input {
    display: flex;
    align-items: center;
    height: 20px;
}

.range-input-scale {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #DCDCDC;
    /*background-color: #000;*/
}

.range-input-scale-persent {
    width: 59%;
    height: 2px;
    /*background-color: #DCDCDC;*/
    background-color: #000;
}


.button-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);


    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #000000;
    cursor: pointer;
}

.button-min {
    left: 0;
}

.button-max {
    left: 59%;
}

.filter-input-catalog {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    opacity: 0.3;
}

.filter-input--catalog {
    border: 0;
}

.range-input-input-min {
    width: 30px;
    padding: 2px;
    margin-right: 30px;
}

.range-input-input-max {
    padding: 2px;
    width: 71px;
}

.service-button:active {
    color: #FFE17F;
    background-color: #000000;

}

.service-button:active::after {
    position: absolute;
    content: "";
    top: 0;
    right: -117px;
    height: 100%;
    width: 280px;
    background: #000000;
    z-index: -1;

}
